<%= render "partials/errors" , obj: @user %>

  <%= form_for(@user, :html => {class: "form-horizontal", role:"form"}) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', placeholder: "User name",autofocus: true %>
  </div>

 <div>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', placeholder: "email_id",autofocus: true %>
</div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password,  class: 'form-control',placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Create new account!"  %>
  </div>
<% end %>
