
<h1 class="userpage">Welcome  <%= @user.username %> </h1>

<%= render 'partials/messages' %> 
</br>
<div align="center">
   <%= will_paginate @user_pages %>
</div>

<%= render 'user', obj: @user_pages %>

<div align="center">
   <%= will_paginate @user_pages %>
</div>


<%= render 'partials/footer' %>
