
<h1 class="center pad users">Welcome  <%= @user.username %> </h1>

</br>
<div align="center">
   <%= will_paginate @user_pages %>
</div>

<%= render 'user', obj: @user_pages %>

<div align="center">
   <%= will_paginate @user_pages %>
</div>


<%= render 'partials/footer' %>
