<%= render "partials/errors" , obj: @page %>

  <%= form_for(@page, :html => {class: "form-horizontal", role:"form"}) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "How was your day?",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, class: 'form-control',placeholder: "Wats up buddy!" %>
  </div>

  <div class="actions">
    <%= f.submit "Capture the moments!!"  %>
  </div>
<% end %>
