 <% if logged_in? and current_user.admin?  %>
<h1 class="pad users">Loads of memory <3 </h1>


<div align="center">
  <%= will_paginate %>

</div>


 <%= render 'page', obj: @pages %>

 <div align="center">
   <%= will_paginate %>
 </div>



<%= render 'partials/footer' %>

<% else %>

 <%= render 'partials/userindex' %>

<% end %>
